<span>Zadaj meno</span>

<form #form="ngForm" (ngSubmit)="saveName($event)">

    <input type="text" placeholder="meno" [(ngModel)]="newPerson.firstName" name="firstname" required/>
    <input type="text" placeholder="priezvisko" [(ngModel)]="newPerson.lastName" name="lastname" required/>
    <input type="text" placeholder="isic" [(ngModel)]="newPerson.isic" name="isic" />
    
    <br/>
    <button type="submit" >uloz</button>
</form>
