h1 { 
    color: blue; 
}
#footer { 
    font-size: 0.7em; 
    color: #999;
    text-align: center;
}
#content { 
    background-color: #c7e1f1; 
    padding: 20px;
}

.ng-valid {
    border-color: lightgreen;
}
.ng-invalid {
    border-color: red;
}
.ng-untouched {
    border-color: lightblue;
}