<h1>{{title}}</h1>
<div id="content">

    <span>Zadaj meno</span>
    <input type="text" #name/>
    <button (click)="ulozMeno(name.value)">uloz</button>

    <p *ngFor="let nameValue of nameList">
    {{nameValue}}
    </p>

</div>
<div id="footer">
    {{footer}}
</div>