<h1>{{title}}</h1>
<div id="content">

    <span>Zadaj meno</span>

    <form #form="ngForm" (ngSubmit)="saveName()">

        <input type="text" placeholder="meno" [(ngModel)]="newPerson.firstName" name="firstname" required/>
        <input type="text" placeholder="priezvisko" [(ngModel)]="newPerson.lastName" name="lastname" required/>
        <input type="text" placeholder="isic" [(ngModel)]="newPerson.isic" name="isic" />
        
        <br/>
        <button type="submit" >uloz</button>
    </form>
    
    <p *ngFor="let nameValue of nameList">
    {{nameValue.firstName}} {{nameValue.lastName}} {{nameValue.isic ? nameValue.isic : "-"}}
    </p>

</div>
<div id="footer">
    {{footer}}
</div>