<md-toolbar color="primary">
	<span>{{title}}</span>
</md-toolbar>

<a md-button routerLink="/user/new" routerLinkActive="active">Novy</a>
<a md-button routerLink="/list" routerLinkActive="active">Zoznam</a>

<div id="content">
    <router-outlet></router-outlet>
</div>
<div id="footer">
    {{footer}}
</div>