<h1>{{title}}</h1>
<div id="content">

    <a routerLink="/user/new" >Novy</a>
    <a routerLink="/list" >Zoznam</a>
    <br/>
    <router-outlet></router-outlet>
</div>
<div id="footer">
    {{footer}}
</div>