<h1>{{title}}</h1>
<div id="content">

    <span>Zadaj meno</span>
    <input type="text" placeholder="meno" #name/>
    <input type="text" placeholder="priezvisko" #surname/>
    
    <br/>
    <button (click)="saveName(name.value, surname.value)">uloz</button>
    <br/>
    
    <p *ngFor="let nameValue of nameList">
    {{nameValue.firstName}} {{nameValue.lastName}}
    </p>

</div>
<div id="footer">
    {{footer}}
</div>